.projectsGrid {

}
.projects {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 20px;

}
.project-name h1 {
	color: blue;
	font-weight: bold;
}
.box {
	width: 100%;
	height: auto;
	margin-top: auto;
}
.project-img img{
	width: 250px;
	height: 250px;
}