*{
  margin: 0;
  padding: 0;

}

.centerstagebanner {
  display: flex;

}

.motion-images {
  
}

.imga {
  z-index:  2;
}

.imgb  {
  z-index:  2;
}

.imgc {
  z-index:  1;
}

.imgd {
  z-index:  0;
  opacity: .4;
}

.stage {
  position: relative;
  top: 400px;
}

